<app-message-box></app-message-box>

<div class="wrapper">
  <div class="container">
    <h1>Welcome to UPay CMS</h1>
    <input
      readonly
      disabled
      placeholder="Email"
      [value]="username"/>
    <input
      type="password"
      placeholder="Password"
      (input)="onFormDataChange($event,'password')"/>
    <input
      type="password"
      placeholder="Confirm password"
      (input)="onFormDataChange($event,'passwordConfirm')"/>
    <button (click)="onRegister()">
      Register
    </button>
  </div>
  <app-background-cubes-animate></app-background-cubes-animate>
</div>
